* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: lato;
    src: url("../fonts/lato/Lato-Regular.ttf")
}

@font-face {
    font-family: lato-bold;
    src: url("../fonts/lato/Lato-Bold.ttf")
}

@font-face {
    font-family: eurpf55;
    src: url("../fonts/eurpf55/eurof55.ttf")
}

/* BASE */

html {
    font-family: lato, sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a, button, li {
    cursor: pointer;
}

/* LAYOUT */

.main-layout {
    max-width: 550px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding: 0;
}

/* HEADER */

header {
    background-color: rgb(41, 41, 41);
    height: 60px;
    border-bottom: 3px solid #1e1e1e;
}

.logo, .footer-logo {
    font-size: 1.8rem;
    font-family: eurpf55;
}

.green-dot {
    color: #58c93a;
}

.nav-container {
    width: 100%;
}

.main-header {
    color: white;
}

.btn-menu-toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

/* main nav */

.main-nav a {
    color: inherit;
}

.main-nav .nav-item {
    padding: 60px 44px;
}

.main-nav .nav-item:hover {
    border-bottom: 4px solid #58c93a;
    color: #58c93a;
}

/* MAIN CONTENT */

.main-content {
    border: 1px solid #e1e0e0;
}

/* CARD */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.25rem;
    font-size: .9rem;
}

.card-content {
    width: 20.625rem;
}

.cards-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-title {
    text-transform: uppercase;
    color: #4f4e4e;
    font-family: lato-bold;
    font-size: 1.2rem;
}

.card .card-text {
    color: #606060
}

.card .card-btn {
    padding: 0.563rem 1.5rem;
    font-size: 1rem;
    color: #c2c2c1;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    align-self: flex-start;
}

.card .card-btn:hover {
    color: #58c93a;
    border: 2px solid #58c93a;
}

.card .card-btn .arrow img {
    width: 0;
    height: 0;
    margin-left: 4px;
    opacity: 0;
    transition: all 0.5s;
}

.card .card-btn:hover .arrow img {
    width: 15px;
    height: 7px;
    margin-left: 10px;
    opacity: 1;
}

.card-image {
    display: inline-block;
    width: 20.625rem;
    height: 12.824rem;
    margin-bottom: 0.5rem;
}

.card .card-title {
    margin-bottom: 0.525rem;
}

.card .card-content p {
    margin-bottom: 0.95rem;
}

.content-nav {
    width: 100%;
    height: 50px;
    margin-top: 3rem;
    border-top: 1px solid #e1e0e0;
}

.content-nav a {
    color: #818181;
    font-size: 1rem;
}

.content-nav .a-prev {
    margin-left: 0.65rem;
}

.content-nav .a-next {
    margin-right: 0.65rem;
}

.content-nav img {
    width: 15px;
    height: 7px;
    margin-bottom: 2px;
}

.content-nav .nav-arrow .next {
    margin-left: 10px;
}

.content-nav .nav-arrow .prev {
    margin-right: 10px;
}

/* FOOTER */

.main-footer {
    background-color: #f8f8f8;
    height: 250px;
}

.main-footer .footer-logo {
    margin-top: 2.75rem;
}

.main-footer small {
    margin-top: 1.75rem;
    font-size: .8125rem;
    text-align: center;
}

.main-footer .footer-icons {
    color: white;
}

.main-footer .footer-icons .fab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
}

.icon-container {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #e5e5e5;
    position: relative;
    margin-top: 1.75rem;
    transition: all 0.4s;
    cursor: pointer;
}

.footer-icons {
    gap: 1rem;
}

.footer-icons .icon-container.facebook:hover {
    background-color: #516fad;
}

.footer-icons .icon-container.twitter:hover {
    background-color: #8ab4f8;
}

.footer-icons .icon-container.be:hover {
    background-color: #000b1c;
}

.footer-icons .icon-container.dribble:hover {
    background-color: #fea833;
}

.main-footer small .link {
    font-weight: 700;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.align-flex-start {
    align-items: flex-start;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Mobile MODAL */

.screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 50%);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    z-index: 1;
}

.modal-container {
    width: 100%;
    height: 100vh;
    display: none;
    padding: 1rem 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(255 255 255 / 100%);
    transform: translate(-50%, -50%);
    transition: transform .6s;
    z-index: 2;
}

.modal {
    width: 100%;
    height: 100%;
}

body.modal-open .screen-modal {
    opacity: 1;
    pointer-events: auto;
}

.modal .modal-title {
    margin-bottom: 2.25rem;
    text-transform: uppercase;
    color: #4f4e4e;
    font-family: lato-bold;
    font-size: 1.2rem;
}

.modal .modal-content {
    margin-bottom: 1.85rem;
    color: #606060;
}

.modal .modal-close-btn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    background-color: #4f4e4e;
    border: none;
    width: 8rem;
    height: 3rem;
    transition: 0.3s;
}

.modal .modal-close-btn:hover {
    background-color: #606060;
}

/* MOBILE ONLY */

@media (max-width: 920px) {
    .main-header .logo {
        padding-left: 0.5rem;
    }
    .main-header .btn-menu-toggle {
        padding-right: 0.5rem;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        min-width: 250px;
        background-color: rgb(41 41 41 / 90%);
        height: 100vh;
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 30%);
    }
    .main-nav a, .journal {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .main-nav .nav-item {
        border-bottom: 2px solid black;
    }
    .screen-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    body.menu-open .screen-menu {
        opacity: 1;
        pointer-events: auto;
    }
    .dropdown {
        background-color: #292929;
        text-decoration: none;
        list-style: none;
    }
    .dropdown-item {
        display: none;
        padding: 10px 0px;
        font-size: 0.8rem;
        border-bottom: 1px solid #0e1111;
    }
    body.dropdown-open .dropdown-item {
        display: block;
    }
}

/* MEDIUM */

@media (min-width: 920px) {
    .main-layout {
        max-width: 900px;
    }
    .card-image {
        margin-inline-end: 2.5rem;
        width: 380px;
        height: 240px;
    }
    header {
        height: 80px;
    }
    .main-nav .nav-item {
        padding: 33px 55px;
        height: 5.2rem;
        border-right: 1px solid black;
    }
    .main-nav a {
        color: inherit;
    }
    .main-nav li:first-child {
        border-left: 1px solid black;
    }
    .main-nav .nav-item:hover {
        border-bottom: 5px solid #58c93a;
        color: #58c93a;
    }
    .card .card-title {
        margin-bottom: 1.3rem;
    }
    .card .card-content p {
        margin-bottom: 1.3rem;
    }
    .card .card-content {
        flex-grow: 1;
    }
    .card {
        font-size: 1rem;
        margin-top: 2.2rem;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-footer .footer-logo {
        margin-top: 2.9rem;
    }
    .main-footer {
        height: 242.7px;
    }
    .content-nav {
        margin-top: 3rem;
    }
    .btn-menu-toggle {
        display: none;
    }
    .modal-container {
        width: 30rem;
        height: 20rem;
    }
    .dropdown-container {
        position: relative;
    }
    .dropdown-container:hover .dropdown {
        opacity: 1;
        pointer-events: auto;
    }
    .dropdown {
        position: absolute;
        top: 5.1875rem;
        left: 0;
        background-color: #292929;
        text-decoration: none;
        list-style: none;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
    }
    .dropdown-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px 0px;
        font-size: 0.9rem;
        border-bottom: 1px solid #0e1111;
    }
    .dropdown-item:hover {
        background-color: rgb(57, 57, 57);
        border-bottom: 1px solid #58c93a;
    }
    .footer-icons {
        gap: 1.25rem;
    }
    .icon-container {
        width: 40px;
        height: 40px;
    }
}

/* LARGE */

@media (min-width: 1100px) {
    .main-layout {
        max-width: 980px;
        /* margin: 0 auto; */
    }
    /* HEADER */
    header {
        height: 130px;
        border-bottom: 6px solid #1e1e1e;
    }
    .logo, .footer-logo {
        font-size: 2.5rem;
        /* font-family: eurpf55; */
    }
    .main-nav .nav-item {
        padding: 60px 44px;
        height: 8.5rem;
        border-right: 1px solid black;
    }
    .main-nav li:first-child {
        border-left: 1px solid black;
    }
    .main-nav .nav-item:hover {
        border-bottom: 6px solid #58c93a;
        color: #58c93a;
    }
    .dropdown {
        top: 8.5rem;
    }
    /* MAIN CONTENT */
    /* CARD */
    .card {
        margin-top: 5rem;
        flex-direction: row;
    }
    .cards-layout {
        display: flex;
        flex-direction: column;
    }
    .card .card-title {
        text-transform: uppercase;
        color: #4f4e4e;
        font-family: lato-bold;
        font-size: 1.75rem;
    }
    .card .card-text {
        color: #606060
    }
    .card .card-btn {
        justify-content: space-between;
        padding: 0.563rem 1.5rem;
        font-size: 1rem;
        color: #c2c2c1;
        background-color: transparent;
        border: 2px solid #c2c2c2;
        border-radius: 20px;
        align-self: flex-start;
    }
    .card .card-btn:hover {
        color: #58c93a;
        border: 2px solid #58c93a;
    }
    .card .card-btn .arrow img {
        width: 0;
        height: 0;
        margin-left: 4px;
        opacity: 0;
        transition: all 0.5s;
    }
    .card-image {
        display: inline-block;
        width: 468px;
        height: 307px;
    }
    .card .card-title {
        margin-bottom: 2.5rem;
    }
    .card .card-content p {
        margin-bottom: 2.8rem;
    }
    .content-nav {
        height: 75px;
        margin-top: 5rem;
    }
    .content-nav a {
        font-size: 1.125rem;
    }
    .content-nav .a-prev {
        margin-left: 1.875rem;
    }
    .content-nav .a-next {
        margin-right: 1.875rem;
    }
    .content-nav .nav-arrow .next {
        margin-left: 10px;
    }
    .content-nav .nav-arrow .prev {
        margin-right: 10px;
    }
    /* FOOTER */
    .main-footer {
        height: 315px;
    }
    .main-footer .footer-logo {
        margin-top: 5rem;
    }
    .main-footer small {
        margin-top: 2.1875rem;
    }
    .main-footer .footer-icons .fab {
        font-size: 1rem;
    }
    .icon-container {
        margin-top: 2.1875rem;
    }
    .btn-menu-toggle {
        display: none;
    }
}